.aivsman.border-top 
	.aivsman-body__running-line.aivsman-body__running-line1
		include ../blocks/running-line
	.aivsman-body__running-line.aivsman-body__running-line2
		include ../blocks/running-line
	.aivsman-switch-content
		.aivsman-switcher
			input.aivsman-switcher-content(type='range' min='0' max='100' value='100')
			.aivsman-switcher-content-button
		.aivsman-switcher-content-line
		.aivsman-switch-content__container-wrapper
			.aivsman-switch-content__container.aivsman-switch-content__container-titles
				.aivsman-switch-content-before.aivsman-switch-content-general
					.aivsman-switch-body-before__title.aivsman-body__title-main 
						span.aivsman-body__title-main-inner ЧЕЛОВЕК
							span.aivsman-body__title-main-span-wrap human / ai 
								span.aivsman-body__title-main-span
				.aivsman-switch-content-after.aivsman-switch-content-general
					.aivsman-switch-body-before__title.aivsman-body__title-main 
						.aivsman-body__title-main-inner искусственный
							br
							|интеллект
							span.aivsman-body__title-main-span-wrap human / ai 
								span.aivsman-body__title-main-span
			#aivsman-switch-content__container.aivsman-switch-content__container
				.aivsman-switch-content-before.aivsman-switch-content-general
					.aivsman-switch-content-general-inner
						.aivsman-body 

							.aivsman-body__sec-wrapper1
								.aivsman-body__sec.aivsman-body__sec1.aivsman-body__same-height1 
									.container-inner
										.aivsman-body__text.bigger-text 
											p.el-hidden  
												span.colored-text Человеческий фактор  
												|играет ключевую роль в успехе любой медицинской процедуры: от простого укола до сложной операции. Причем на успех лечения влияют не только знания и опыт докторов. Немалое значение для выздоровления пациента имеют оперативность проведенных мероприятий, доброжелательная обстановка, забота и внимание со стороны медперсонала.
											p.el-hidden  Над созданием атмосферы взаимного уважения между врачами и пациентами работают медицинские учреждения Москвы. 
												span.colored-text В столице профессионализм врачей и всего медперсонала идет рука об руку с современными технологиями, заботой и вниманием к пациентам. 
												|Рассказываем о людях, которые создают в больницах доброжелательную атмосферу и делают все возможное для скорейшего выздоровления пациентов.
								
								
								
								.aivsman-body__sec.aivsman-body__sec2.aivsman-body__same-height2#menu-header__link-ai1 
									.container-inner
										.myrow
											.aivsman-body__sec-body.aivsman-body__sec2-body.mycol-6 
												.aivsman-body__subtitle.general-title.el-hidden социальные координаторы
												.aivsman-body__text.smaller-text 
													p.el-hidden  Эти люди взяли на себя все немедицинские вопросы и помогают пациентам, нуждающимся в поддержке. Важнейшая задача социальной службы в больнице – заранее позаботиться о решении тех проблем, которые могут возникнуть после выписки. Например, иногда человеку нужен особый уход и внимание. Координаторы помогают оформить надомное или стационарное социальное обслуживание еще до возвращения пациента домой. Социальный работник на дому возьмет на себя уход, домашние дела, поможет оформить инвалидность, получить средства реабилитации.
													p.el-hidden  Чтобы получить поддержку, пациенту не нужно заполнять какие-либо документы или предоставлять подтверждения. Благодаря слаженной работе врачей и социальных координаторов нуждающихся в помощи выявляют еще на этапе госпитализации: помогут найти родственников, восстановить утерянные документы и решить многие другие вопросы.
											.aivsman-body__sec2-image.myimage.mycol-6  
												img(src="images/aivsman/1.png", alt="alt")
												img(src="images/aivsman/13.png", alt="alt", data-depth='0.10').aivsman-body__sec2-image3.js-image-parallax3
												img(src="images/aivsman/12.png", alt="alt", data-depth='0.50').aivsman-body__sec2-image2.js-image-parallax2
												img(src="images/aivsman/11.png", alt="alt", data-depth='0.20').aivsman-body__sec2-image1.js-image-parallax1
								
								
								
								.aivsman-body__sec.aivsman-body__sec3.aivsman-body__same-height3#menu-header__link-ai2 
									.container-inner
										.myrow
											.aivsman-body__sec3-image.myimage.mycol-6  
												img(src="images/aivsman/sit1.png", alt="alt")
											.aivsman-body__sec-body.aivsman-body__sec3-body.mycol-6 
												.aivsman-body__subtitle.general-title.el-hidden Персональные онкопомощники
												.aivsman-body__text.smaller-text 
													p.el-hidden  В онкологии очень важно, чтобы человек не оставался наедине со своим диагнозом и с момента подозрения на заболевание мог как можно быстрее приступить к диагностике и при подтверждении диагноза к дальнейшему лечению. Онкопомощники постоянно дистанционно сопровождают пациентов с онкологическими заболеваниями и помогают пройти трудные периоды жизни.
													p.el-hidden  Они помогут записаться на прием, на сдачу анализов, на обследование, напомнят о сдаче анализов и дате приема, проверят, состоялись они или нет, ответят на любые вопросы. Каждого пациента курирует один конкретный онкопомощник.
								


							.aivsman-body__sec-wrapper2
								.aivsman-body__sec.aivsman-body__sec4.aivsman-body__same-height4#menu-header__link-ai3 
									.container-inner
										.aivsman-body__sec-dif 
											.aivsman-body__sec4-image.single-image 
												img(src="images/aivsman/horizontal12.png", alt="alt")

											.aivsman-body__subtitle.general-title.el-hidden Администраторы центров госуслуг в медучреждениях
											.myrow 
												.mycol-6.smaller-text.el-hidden  Первым шагом на пути создания комфортных условий во всех городских поликлиниках стало появление сотрудников центров госуслуг в качестве администраторов. Они выполняют целый спектр обязанностей, которые обычно отнимают много времени у медперсонала. Сейчас работники МФЦ в поликлиниках, центрах амбулаторной онкопомощи и флагманских центрах Больницы имени В. В. Вересаева и Склифа помогают решать вопросы немедицинского характера. Они встречают посетителей, помогают им сориентироваться, записаться на прием к врачу, распечатать талон, уточнить графики приема врачей.
												.mycol-6.smaller-text.el-hidden  Сотрудники центров госуслуг стали администраторами неслучайно, ведь они умеют с первых слов расположить к себе человека, найти индивидуальный подход. В своей работе администратор руководствуется главным принципом офисов «Мои документы»: человек – на первом месте.

								
								

								
								.aivsman-body__sec.aivsman-body__sec5.aivsman-body__same-height5#menu-header__link-ai4 
									.container-inner
										.myrow
											.aivsman-body__sec-body.aivsman-body__sec5-body.mycol-6 
												.aivsman-body__subtitle.general-title.el-hidden Врачи телемедицинского центра
												.aivsman-body__text.smaller-text 
													p.el-hidden  В Москве телемедицина «врач – пациент» уже стала рутинной практикой каждой поликлиники. Сегодня в столичном здравоохранении дистанционные консультации, закрытие «больничных» без прихода в поликлинику и разговор с персональным помощником по телефону – в порядке вещей. Врачи телемедицинского центра сопровождают пациентов, у которых при прохождении диспансеризации выявляются отклонения в исследованиях, до полной постановки диагноза и назначения лечения.

													p.el-hidden  Врачи телемедицинского центра помогают пациентам в записи на обследование в эндоскопический центр, объясняют, как правильно подготовиться к проведению исследования. В будущем и сами элементы диспансеризации можно будет перевести на дистанционный формат.

											.aivsman-body__sec5-image.myimage.mycol-6  
												img(src="images/aivsman/3.png", alt="alt")
												img(src="images/aivsman/33.png", alt="alt").aivsman-body__sec2-image3.js-image-parallax3
												img(src="images/aivsman/32.png", alt="alt").aivsman-body__sec2-image2.js-image-parallax2
												img(src="images/aivsman/31.png", alt="alt").aivsman-body__sec2-image1.js-image-parallax1


							.aivsman-body__sec-wrapper3
								.aivsman-body__sec.aivsman-body__sec6.aivsman-body__same-height6#menu-header__link-ai5
									.container-inner
										.aivsman-body__sec-dif 
											.aivsman-body__sec6-image.single-image 
												img(src="images/aivsman/hor7.png", alt="alt")
												img(src="images/aivsman/hor73.png", alt="alt").aivsman-body__sec2-image3.js-image-parallax3
												img(src="images/aivsman/hor72.png", alt="alt").aivsman-body__sec2-image2.js-image-parallax2
												img(src="images/aivsman/hor71.png", alt="alt").aivsman-body__sec2-image1.js-image-parallax1

											.aivsman-body__subtitle.general-title.el-hidden Четкие алгоритмы работы врачей флагманских центров больниц
											.myrow 
												.mycol-6.smaller-text.el-hidden  В Москве разработан новый стандарт оказания экстренной помощи. Его каркасом стали флагманские центры на базе шести ведущих многопрофильных московских клиник. В каждом из них используются самые современные и эффективные технологии организации экстренной медицинской помощи. Практикующие врачи, медсестры и профильные эксперты разработали 87 пошаговых алгоритмов, которые охватывают более 96% всех поводов для обращения за экстренной помощью.

												.mycol-6.smaller-text.el-hidden  Алгоритмы описывают действия членов команды флагманского центра (врачей и медсестер) с того момента, как пациента доставили в приемное отделение, и до начала лечения, включая сроки и последовательность диагностики и неотложных манипуляций. Каждый алгоритм отрабатывался до автоматизма на симуляционном оборудовании на специально созданном образовательном полигоне, чтобы в реальной клинической практике члены команды действовали максимально слаженно и эффективно.




								.aivsman-body__sec.aivsman-body__sec7.aivsman-body__same-height7#menu-header__link-ai6 
									.container-inner
										.myrow
											.aivsman-body__sec7-image.myimage.mycol-6  
												img(src="images/aivsman/51.png", alt="alt").aivsman-body__sec2-image1.js-image-parallax1
												img(src="images/aivsman/53.png", alt="alt").aivsman-body__sec2-image3.js-image-parallax3
												img(src="images/aivsman/5.png", alt="alt")
												img(src="images/aivsman/52.png", alt="alt").aivsman-body__sec2-image2.js-image-parallax2

											.aivsman-body__sec-body.aivsman-body__sec7-body.mycol-6 
												.aivsman-body__subtitle.general-title.el-hidden Сотрудники службы ранней помощи
												.aivsman-body__text.smaller-text 
													p.el-hidden  В Москве работает служба ранней помощи, которая оказывает комплексную поддержку родителям детей с особыми потребностями в возрасте до 3 лет. Благодаря тесному взаимодействию сотрудников здравоохранения и соцзащиты родители узнают о существовании ранней помощи уже в роддоме. Важнейшая задача специалистов – с самого начала окружить малыша и маму с папой заботой. Зачастую в этот период нужна простая человеческая поддержка, чтобы рядом был тот, кто выслушает, подскажет, что делать дальше.

													p.el-hidden  В службе ранней помощи помогут выбрать ближайший центр ранней помощи, если у ребенка задержка речевого развития, проблемы с координацией, есть двигательные нарушения. В учреждении ребенок получит комплексную помощь разных специалистов: двигательного терапевта, дефектолога, педагога-психолога, логопеда и так далее. При этом все услуги, связанные с оформлением документов, служба берет на себя.



								.aivsman-body__sec.aivsman-body__sec8.aivsman-body__same-height8#menu-header__link-ai7
									.container-inner
										.myrow
											.aivsman-body__sec-body.aivsman-body__sec8-body.mycol-6 
												.aivsman-body__subtitle.general-title.el-hidden Специалисты сервиса «Новые возможности»

												.aivsman-body__text.smaller-text 
													p Москвичи, столкнувшиеся с тяжелой ситуацией и вынужденной ампутацией, могут получить комплексное сопровождение, которое начинается еще до операции и помогает вернуться к нормальной жизни. Каждого участника сопровождает персональный консультант. В сервисе «Новые возможности» сотрудничают специалисты разных ведомств: врачи, психологи, реабилитологи, техники-протезисты, карьерные консультанты, юристы и другие.

													p Специалисты сопровождают человека на всех этапах реабилитации, протезирования и восстановления, составляя индивидуальный маршрут поддержки, оказывают психологическую и юридическую помощь как самому пациенту, так и его семье, помогают вернуться на работу или подобрать новое место работы.

											.aivsman-body__sec8-image.myimage.mycol-6  
												img(src="images/aivsman/7.222.png", alt="alt")
								








				#aivsman-switch-content-after.aivsman-switch-content-after.aivsman-switch-content-general 
					.aivsman-switch-content-general-inner
						.aivsman-body 

							.aivsman-body__sec-wrapper1
								.aivsman-body__sec.aivsman-body__sec11.aivsman-body__same-height1 
									.container-inner
										.aivsman-body__text.bigger-text 
											p.el-hidden Мир сильно изменился по сравнению с тем, каким он был всего десять лет назад, и нигде это так не заметно, как в здравоохранении. Внедрение технологий и цифровизации резко изменило ситуацию для всех пациентов и врачей. 

											p.el-hidden  
												span.colored-text В Москве создана уникальная экосистема – единая цифровая платформа здравоохранения. 
												|Она объединяет все звенья оказания медицинской помощи – поликлиники, стационары, «скорую» – и позволяет вести пациента на всех этапах: от постановки диагноза и лечения до последующего наблюдения. Это позволяет внедрять инновационные сервисы – телемедицину, чат-боты, ИИ и другие цифровые сервисы, – чтобы делать оказание медицинской помощи более персонифицированным.

								
								
								
								.aivsman-body__sec.aivsman-body__sec22.aivsman-body__same-height2#menu-header__link-man1 
									.container-inner
										.myrow
											.aivsman-body__sec-body.aivsman-body__sec22-body.mycol-6 
												.aivsman-body__subtitle.general-title.el-hidden Цифровые двойники
												.aivsman-body__text.smaller-text 
													p.el-hidden  Практически у каждого москвича сегодня есть полный цифровой двойник – его электронная медкарта. Это универсальное хранилище информации о здоровье пациента, причем у детей она собирается на основе данных за всю жизнь, с момента рождения. В электронной медкарте содержатся сведения о здоровье человека и о том, какие медицинские услуги ему оказали по ОМС. В нее также вносят информацию о приемах врачей, вакцинации, диспансеризации, результатах анализов и исследований, обо всех проведенных медицинских вмешательствах, выданных рецептах, справках и больничных листах. Все это позволяет уже сегодня каждому московскому врачу в режиме онлайн видеть все необходимые данные о пациенте и подходить к вопросам лечения максимально персонифицированно.

											.aivsman-body__sec22-image.myimage.mycol-6  
												img(src="images/aivsman/2.png", alt="alt")
												img(src="images/aivsman/23.png", alt="alt", data-depth='0.10').aivsman-body__sec2-image3.js-image-parallax3
												img(src="images/aivsman/22.png", alt="alt", data-depth='0.50').aivsman-body__sec2-image2.js-image-parallax2
												img(src="images/aivsman/21.png", alt="alt", data-depth='0.20').aivsman-body__sec2-image1.js-image-parallax1
								
								
								
								.aivsman-body__sec.aivsman-body__sec33.aivsman-body__same-height3#menu-header__link-man2 
									.container-inner
										.myrow
											.aivsman-body__sec33-image.myimage.mycol-6  
												img(src="images/aivsman/sit2.png", alt="alt")
											.aivsman-body__sec-body.aivsman-body__sec33-body.mycol-6 
												.aivsman-body__subtitle.general-title.el-hidden Портативные медицинские носимые устройства
												.aivsman-body__text.smaller-text 
													p.el-hidden  Для дистанционного контроля состояния пациентов в Москве впервые вводится стандарт оснащения медучреждений носимыми устройствами. Все поликлиники переходят на новый стандарт дистанционного автоматического наблюдения. Для этого пациентам при необходимости будут выдаваться устройства, которые позволяют контролировать такие параметры, как уровень сахара в крови, артериальное давление, частота сердцебиения и многое другое.

													p.el-hidden  Это необходимо для дистанционного контроля состояния человека, например, если у него наблюдаются проблемы с сердцем или есть подозрение на сахарный диабет. Данные с портативного устройства передают информацию в электронную медкарту. Доступ к ним будет иметь и сам пациент, и его лечащий врач.

								
							

							.aivsman-body__sec-wrapper2
								.aivsman-body__sec.aivsman-body__sec44.aivsman-body__same-height4#menu-header__link-man3
									.container-inner
										.aivsman-body__sec-dif 
											.aivsman-body__sec44-image.single-image 
												img(src="images/aivsman/horizontal11.png", alt="alt")
											.aivsman-body__subtitle.general-title.el-hidden Система поддержки принятия врачебных решений
											.myrow 
												.mycol-6.smaller-text.el-hidden  В своей практической деятельности врач сталкивается с большим количеством задач, которые требуют быстрого и точного реагирования. При постановке диагноза и лечении необходимо многое учесть. Частичная автоматизация лечебно-диагностического процесса и информационная поддержка специалиста должны снизить нагрузку на врача. Помощником врача при решении клинических задач все чаще становится искусственный интеллект.

												.mycol-6.smaller-text.el-hidden  Сервис поддержки принятия врачебных решений внедрен во всех городских взрослых поликлиниках еще в октябре 2020 года. За 2,5 года с помощью ИИ поставлено более 10 млн диагнозов, система покрывает 95% наиболее распространенных заболеваний. ИИ помогает врачам поставить в среднем более 4 млн диагнозов ежегодно и за счет функции пакетных назначений в 10 раз сократить время на назначение анализов и исследований.


								
								

								
								.aivsman-body__sec.aivsman-body__sec55.aivsman-body__same-height5#menu-header__link-man4 
									.container-inner
										.myrow
											.aivsman-body__sec-body.aivsman-body__sec55-body.mycol-6 
												.aivsman-body__subtitle.general-title.el-hidden Сервисы компьютерного зрения
												.aivsman-body__text.smaller-text 
													p.el-hidden  Цифровая среда с использованием технологий на основе искусственного интеллекта активно используется в столичном здравоохранении. Сервисы компьютерного зрения с точностью до 95% помогают ежегодно анализировать более 3 млн исследований лучевой диагностики. Нейросети помогают анализировать лучевые исследования пациентов медучреждений Москвы, освобождая врачей от рутинной работы. Они анализируют большое количество медицинских изображений намного быстрее, чем человек, обращают внимание врача на те исследования, которые требуют немедленного реагирования.

													p.el-hidden  Все поликлиники Москвы были оснащены цифровыми электрокардиографами с возможностью расшифровки электрокардиограмм (ЭКГ) искусственным интеллектом. Врач получает в ЕМИАС оригинал исследования (цифровую электрокардиограмму) и результат автоматической расшифровки от ИИ с предзаполненным протоколом исследования. Окончательное решение остается за врачом: он может согласиться с мнением ИИ или скорректировать протокол исследования.

											.aivsman-body__sec55-image.myimage.mycol-6  
												img(src="images/aivsman/4.png", alt="alt")
												img(src="images/aivsman/43.png", alt="alt").aivsman-body__sec2-image3.js-image-parallax3
												img(src="images/aivsman/42.png", alt="alt").aivsman-body__sec2-image2.js-image-parallax2
												img(src="images/aivsman/41.png", alt="alt").aivsman-body__sec2-image1.js-image-parallax1

								

							.aivsman-body__sec-wrapper3
								.aivsman-body__sec.aivsman-body__sec66.aivsman-body__same-height6#menu-header__link-man5
									.container-inner
										.aivsman-body__sec-dif 
											.aivsman-body__sec66-image.single-image 
												img(src="images/aivsman/hor8.png", alt="alt")
												img(src="images/aivsman/hor83.png", alt="alt").aivsman-body__sec2-image3.js-image-parallax3
												img(src="images/aivsman/hor82.png", alt="alt").aivsman-body__sec2-image2.js-image-parallax2
												img(src="images/aivsman/hor81.png", alt="alt").aivsman-body__sec2-image1.js-image-parallax1

											.aivsman-body__subtitle.general-title.el-hidden Чат-бот на основе ИИ
											.myrow 
												.mycol-6.smaller-text.el-hidden  Чат-бот на основе искусственного интеллекта помогает врачам собирать жалобы пациента на самочувствие до приема. После того как пациент записывается к врачу, он получает смс со ссылкой на форму опроса для предварительного сбора жалоб и анамнеза. Пользователь вручную в свободной форме указывает свои жалобы, а затем заполняет ответы на последовательно задаваемые чат-ботом вопросы, конкретизируя симптомы и информацию по своему состоянию. При этом каждый последующий вопрос зависит от ответа на предыдущий.

												.mycol-6.smaller-text.el-hidden  Результаты опроса автоматически фиксируются в протоколе предстоящего осмотра в ЕМИАС, позволяя врачу больше внимания уделить обследованию пациента. Непосредственно на приеме медик сможет скорректировать предварительно собранные данные, если пациент даст уточнения.



								.aivsman-body__sec.aivsman-body__sec77.aivsman-body__same-height7#menu-header__link-man6 
									.container-inner
										.myrow
											.aivsman-body__sec77-image.myimage.mycol-6  
												img(src="images/aivsman/61.png", alt="alt").aivsman-body__sec2-image1.js-image-parallax1
												img(src="images/aivsman/62.png", alt="alt").aivsman-body__sec2-image2.js-image-parallax2
												img(src="images/aivsman/6.png", alt="alt")
												img(src="images/aivsman/63.png", alt="alt").aivsman-body__sec2-image3.js-image-parallax3

											.aivsman-body__sec-body.aivsman-body__sec77-body.mycol-6 
												.aivsman-body__subtitle.general-title.el-hidden Голосовой ввод на основе ИИ
												.aivsman-body__text.smaller-text 
													p.el-hidden  Голосовой ввод данных позволяет врачу надиктовывать описание исследования вместо ввода данных вручную, не отвлекаясь от проведения операции или обследования, уделять больше времени пациенту, а не рутине. Во время осмотра врач с помощью специального микрофона надиктовывает информацию, которая моментально расшифровывается и переносится в открытый протокол медицинской информационной системы.

													p.el-hidden  Решение экономит более 20% времени врачей на заполнение документации. Голосовой помощник постоянно дообучается: пополняет словарь сложными и редкими медицинскими терминами, подстраивается под особенности произношения разных врачей, охватывает новые диагностические и лечебные задачи. Благодаря этому точность распознавания речи достигла 98%.



								.aivsman-body__sec.aivsman-body__sec88.aivsman-body__same-height8#menu-header__link-man7
									.container-inner
										.myrow
											.aivsman-body__sec-body.aivsman-body__sec88-body.mycol-6 
												.aivsman-body__subtitle.general-title.el-hidden Робототехника 
												.aivsman-body__text.smaller-text 
													p.el-hidden  Использование роботов повышает эффективность и скорость диагностики пациентов. Медицинские роботы берут на себя минимально инвазивные процедуры, могут регулярно наблюдать за пациентами с хроническими заболеваниями. Сегодня в Москве ежегодно проводится более 2000 операций с использованием робототехники. Большинство из них выполняется с помощью четырехрукого робота DaVinci.

													p.el-hidden  Хирург управляет им с помощью специального джойстика и педалей. Технические возможности робота позволяют врачу видеть оперируемый участок в режиме 3D и с ювелирной точностью выполнять сложнейшие манипуляции. Это позволяет на высоком уровне проводить операции различного профиля в сложнодоступных для хирурга местах с минимальными потерями крови для пациента, а значит, процесс восстановления пациента после хирургического вмешательства происходит гораздо быстрее.

											.aivsman-body__sec88-image.myimage.mycol-6  
												img(src="images/aivsman/7.111.png", alt="alt")


