section.colored-block.border-top
	.container 
		.container-inner
			.colored-block__body 
				.colored-block__row.smaller-text 
					.colored-block__left 
						p.el-hidden На самом деле, победитель в гонке людей и искусственного интеллекта только один – человек, который сумел «помирить» людей и искусственный интеллект, поставив их достижения на службу пациентов, жизнь которых за счет всего этого вышла на новый уровень.

						p.el-hidden По сути, московские медицинские учреждения прошли через революционные преобразования. Опираясь на весь накопленный врачебный опыт и научный потенциал, в них создали современную, дружелюбную и логичную инфраструктуру.

					.colored-block__right 
						p.el-hidden Большое внимание в медицине Москвы уделяется созданию атмосферы взаимного уважения между врачами и пациентами, доброжелательной обстановки. Оказание помощи характеризуется не только высоким профессионализмом медиков и самыми широкими возможностями современного оснащения, но и высоким уровнем эмпатии специалистов.

						p.el-hidden Все аргументы, которые это доказывают, представлены на  Московском урбанфоруме  в <a href="https://mosurbanforum.ru/gd/"><u><b>Гостином дворе</b></u></a>.

