section.forum.border-top
	.container
		.container-inner 
			.forum__container 
				.forum__title.general-title.el-hidden Московский урбанистический форум
				.forum__text.forum__text-paragraph.bigger-text.el-hidden  Медицина будущего доступна москвичам уже сегодня. А через пять лет инфраструктура московской медицины будет полностью обновлена. Узнать об этом подробнее можно на 
					span.colored-text Московском урбанистическом форуме в <a href="https://mosurbanforum.ru/gd/"><u><b>Гостином дворе</b></u></a>
					|, который проходит в столице до 10 сентября. Гостиный двор на шесть недель превратился в интерактивное мультимедийное пространство с уникальной экспозицией, посвященной развитию здравоохранения, образования, социальной защиты и других отраслей социальной сферы. Здесь проходят лекции ведущих врачей, писателей и популяризаторов науки о самореализации и здоровье, а известные артисты проводят бесплатные концерты.
				.forum__nums.nums-forum 
					.nums-forum__row 
						.nums-forum__item.el-hidden 
							.nums-forum__column
								.nums-forum__num.colored-text 1.08 - 10.09
								.nums-forum__text пройдет Московский урбанистический форум в <a href="https://mosurbanforum.ru/gd/"><u><b>Гостином дворе</b></u></a>
						//.nums-forum__item.el-hidden 
							.nums-forum__column
								.nums-forum__num.colored-text 2.08 - 3.08
								.nums-forum__text покажут и расскажут, как принципы здорового образа жизни интегрируются во все сферы городского развития
						.nums-forum__item.el-hidden 
							.nums-forum__column
								.nums-forum__num.colored-text 12
								.nums-forum__text тематических интерактивных зон, посвященных инновационным разработкам и новейшим технологиям
				.forum__text.forum__text-paragraphs.smaller-text
					p.el-hidden  
						span.colored-text Сегодня социальная сфера столицы одна из самых инновационных в мире. 
						|В городе стараются не просто строить новые детские сады или больницы, внедрять уникальные цифровые технологии и закупать передовое оборудование, а менять культуру общения и отношение в каждом из столичных учреждений.
					p.el-hidden  Всего в <a href="https://mosurbanforum.ru/gd/"><u><b>Гостином дворе</b></u></a> размещено 12 тематических интерактивных зон, посвященных инновационным разработкам и новейшим технологиям в сфере здравоохранения, образования и социальной защиты. Например, можно посетить Музей вредных привычек, Офис управления карьерой, а также познакомиться с метанавыками человека будущего. У гостей форума есть возможность оказаться в организме человека, который является заложником вредных привычек. А симулятор старости с помощью специального костюма с VR-очками позволит буквально перенестись в тело пожилого человека и попробовать выполнить самые обычные действия.
					p.el-hidden  Буквально на один день, в красивую дату 23 августа 2023 года, Гостиный двор превратится в настоящий дворец бракосочетания, причем помогать регистраторам будут звезды театра, кино, певцы и шоумены. Заявку на необычную церемонию может подать любая пара – через Госуслуги. Количество приглашенных гостей – неограниченное.

				.forum__text.forum__text-bottom.bigger-text.el-hidden  
					a(href="https://mosurbanforum.ru/gd/").colored-text Московский урбанистический форум  
					|в <a href="https://mosurbanforum.ru/gd/"><u><b>Гостином дворе</b></u></a> по адресу ул. Ильинка, 4, ждет гостей, приходите! Вход свободный и бесплатный.

				.forum__text.forum__text-bottom.bigger-text.el-hidden  
					|Аудитория: 0+