section.hero
	.hero__top.border-top 
		.container
			.container-inner 
				.hero__socials.socials
					.socials__icon.vk.el-hidden 
						img(src="images/socials/1.svg", alt="alt")
						img(src="images/socials/1gragient.svg", alt="alt")
					.socials__icon.ok.el-hidden 
						img(src="images/socials/2.svg", alt="alt")
						img(src="images/socials/2gragient.svg", alt="alt")
					.socials__icon.tg.el-hidden 
						img(src="images/socials/3.svg", alt="alt")
						img(src="images/socials/3gragient.svg", alt="alt")
					.socials__icon.socials__icon-open-popup.el-hidden 
						img(src="images/socials/4.svg", alt="alt")
						img(src="images/socials/4gragient.svg", alt="alt")
				.hero__title.el-hidden 
					span.hero__title-outer
						span.hero__title-inner ЧЕЛОВЕК
							img(src="images/vs.svg", alt="alt")
					span.hero__title-outer
						span.hero__title-inner.colored-text ИСКУССТВЕННЫЙ ИНТЕЛЛЕКТ
				.hero__main-image.el-hidden
					img(src="images/hero/hero1.png", alt="alt").hero__image.hero__image-parallax1.desk 
					img(src="images/hero/hero2.png", alt="alt").hero__image.hero__image-parallax2.desk
					img(src="images/hero/hero3.png", alt="alt").hero__image.hero__image-parallax3.desk
					img(src="images/hero/hero4.png", alt="alt").hero__image.hero__image-parallax4.desk
	.hero__bottom.border-top.border-bottom 
		.container
			.container-inner 
				.hero__text.bigger-text.colored-text.el-hidden  За кем будущее? Выбирайте свою сторону!
				.hero__text.bigger-text.el-hidden  Один из главных социальных страхов современных людей — это угроза искусственного интеллекта, который уже сегодня по многим параметрам превосходит человеческий мозг. <span class="colored-text">Так кто же победит в этом противостоянии и какое будущее нас ждет?</span> Человек или искусственный интеллект - в чью победу вы верите больше?
	.hero__image-wrapper-mob.mob.border-bottom 
		.container 
			.container-inner 
				img(src="images/hero/hero1.png", alt="alt").hero__image.hero__image-parallax1
				img(src="images/hero/hero2.png", alt="alt").hero__image.hero__image-parallax2
				img(src="images/hero/hero3.png", alt="alt").hero__image.hero__image-parallax3
				img(src="images/hero/hero4.png", alt="alt").hero__image.hero__image-parallax4