section.running-line
	.running-line__container
		.running-line__swiper.swiper 
			.swiper-wrapper 
				.running-line__slide.swiper-slide
					img(src="images/running-line/1.svg", alt="alt")
				.running-line__slide.swiper-slide 
					img(src="images/running-line/2.svg", alt="alt")
				.running-line__slide.swiper-slide
					img(src="images/running-line/1.svg", alt="alt")
				.running-line__slide.swiper-slide 
					img(src="images/running-line/2.svg", alt="alt")
				.running-line__slide.swiper-slide
					img(src="images/running-line/1.svg", alt="alt")
				.running-line__slide.swiper-slide 
					img(src="images/running-line/2.svg", alt="alt")
				.running-line__slide.swiper-slide
					img(src="images/running-line/1.svg", alt="alt")
				.running-line__slide.swiper-slide 
					img(src="images/running-line/2.svg", alt="alt")
				.running-line__slide.swiper-slide
					img(src="images/running-line/1.svg", alt="alt")
				.running-line__slide.swiper-slide 
					img(src="images/running-line/2.svg", alt="alt")
				.running-line__slide.swiper-slide
					img(src="images/running-line/1.svg", alt="alt")
				.running-line__slide.swiper-slide 
					img(src="images/running-line/2.svg", alt="alt")
				.running-line__slide.swiper-slide
					img(src="images/running-line/1.svg", alt="alt")
				.running-line__slide.swiper-slide 
					img(src="images/running-line/2.svg", alt="alt")
				.running-line__slide.swiper-slide
					img(src="images/running-line/1.svg", alt="alt")
				.running-line__slide.swiper-slide 
					img(src="images/running-line/2.svg", alt="alt")
				.running-line__slide.swiper-slide
					img(src="images/running-line/1.svg", alt="alt")
				.running-line__slide.swiper-slide 
					img(src="images/running-line/2.svg", alt="alt")