header#header.header
	.popup
		.popup__container
			.popup__close
				<svg xmlns="http://www.w3.org/2000/svg" width="21" height="22" viewBox="0 0 21 22" fill="none">
				<rect x="0.578003" y="0.205078" width="28.8814" height="0.577628" transform="rotate(45 0.578003 0.205078)" fill="white"/>
				<rect y="20.4219" width="28.8814" height="0.577628" transform="rotate(-45 0 20.4219)" fill="white"/>
				</svg>
			.popup__header Над проектом работали:
			.popup__body 
				span Главный редактор: Татьяна Меньщикова
				br
				span Автор: Анастасия Гладкова
				br
				span Арт-директор: Мария Простякова
				br
				span Дизайн: Екатерина Михеева, Алина Владимирова
				br
				span Директор отдела специальных проектов: Алёна Прокофьева
				br
				span Менеджер проекта: Анна Петрухина
				br
				span Корректор: Анна Биглер
				br
				span Разработка: Денис Осипов, Александр Камионский
				br


			.popup__copyright
				|© 2023, Shkulev Media Holding / Creative Studio
	.header__container 
		.header__burger 
			span 
			span 
		.header__left.el-hidden  
			a(href="https://mosurbanforum.ru/?ysclid=llakba0lqc67891416") 
				img(src="images/logo-left.svg", alt="alt")
		.header__center.el-hidden  СПЕЦИАЛЬНЫЙ ПРОЕКТ
		.header__right.el-hidden  
			a(href="https://www.vokrugsveta.ru/?ysclid=llakbuds6g989345597") 
				img(src="images/logo.svg", alt="alt")
	.header__menu.menu-header
		.menu-switch-content
			input.menu-switcher-content(type='range' min='3' max='97' value='100')
			.menu-switcher-content-line
			.menu-switcher-content-button
			.menu-switch-content__container
				.menu-switch-content-before.menu-switch-content-general
					.menu-switch-content-general-inner
						.menu-header__body 
							.menu-header__title ЧЕЛОВЕК
							ul.menu-header__list 
								li.menu-header__item 
									a.menu-header__link.menu-header__link-man.click(href="#menu-header__link-man1") Цифровые двойники
								li.menu-header__item 
									a.menu-header__link.menu-header__link-man.click(href="#menu-header__link-man2") Портативные медицинские  устройства
								li.menu-header__item 
									a.menu-header__link.menu-header__link-man.click(href="#menu-header__link-man3") Система поддержки принятия врачебных решений
								li.menu-header__item 
									a.menu-header__link.menu-header__link-man.click(href="#menu-header__link-man4") Сервисы компьютерного зрения
								li.menu-header__item 
									a.menu-header__link.menu-header__link-man.click(href="#menu-header__link-man5") Чат-бот на основе Искусственного интеллекта
								li.menu-header__item 
									a.menu-header__link.menu-header__link-man.click(href="#menu-header__link-man6") Голосовой ввод на основе Искусственного интеллекта
								li.menu-header__item 
									a.menu-header__link.menu-header__link-man.click(href="#menu-header__link-man7") Робототехника
				.menu-switch-content-after.menu-switch-content-general 
					.menu-switch-content-general-inner
						.menu-header__body 
							.menu-header__title ИСКУССТВЕННЫЙ ИНТЕЛЛЕКТ
							ul.menu-header__list 
								li.menu-header__item 
									a.menu-header__link.menu-header__link-ai.click(href="#menu-header__link-ai1") социальные координаторы
								li.menu-header__item 
									a.menu-header__link.menu-header__link-ai.click(href="#menu-header__link-ai2") Персональные онкопомощники
								li.menu-header__item 
									a.menu-header__link.menu-header__link-ai.click(href="#menu-header__link-ai3") Администраторы центров госуслуг в медучреждениях
								li.menu-header__item 
									a.menu-header__link.menu-header__link-ai.click(href="#menu-header__link-ai4") Врачи телемедицинского центра
								li.menu-header__item 
									a.menu-header__link.menu-header__link-ai.click(href="#menu-header__link-ai5") Четкие алгоритмы работы врачей флагманских центров больниц
								li.menu-header__item 
									a.menu-header__link.menu-header__link-ai.click(href="#menu-header__link-ai6") Сотрудники службы ранней помощи
								li.menu-header__item 
									a.menu-header__link.menu-header__link-ai.click(href="#menu-header__link-ai7") Специалисты сервиса «Новые возможности»
		.menu-header__socials-wrapper
			.menu-header__socials.socials
				.socials__icon.vk
					img(src="images/socials/1.svg", alt="alt")
					img(src="images/socials/1gragient.svg", alt="alt")
				.socials__icon.ok
					img(src="images/socials/2.svg", alt="alt")
					img(src="images/socials/2gragient.svg", alt="alt")
				.socials__icon.tg
					img(src="images/socials/3.svg", alt="alt")
					img(src="images/socials/3gragient.svg", alt="alt")
				.socials__icon.socials__icon-open-popup
					img(src="images/socials/4.svg", alt="alt")
					img(src="images/socials/4gragient.svg", alt="alt")
		.menu-header__bottom-wrapper
			.menu-header__bottom 
				.menu-header__bottom-left 
					img(src="images/logo-left.svg", alt="alt")
				.menu-header__bottom-right 
					|СПЕЦИАЛЬНЫЙ 
					br
					|ПРОЕКТ