.hero {
	position: relative;
	&::before{
		content:'';
	}
	&__top {
		.container-inner {
			position: relative;
			padding: 75px 110px 100px;
			position: relative;
			@media (max-width: 1920px){
				padding: 3.91vw 5.73vw 5.21vw;
			}
			@media (max-width: 768px){
				padding: 7.89vw 2.63vw;
			}
		}
	}
	&__title {
		max-width: 930px;
		color: var(--white, #FFF);
		leading-trim: both;
		text-edge: cap;
		font-family: Miratrix;
		font-size: 100px;
		font-style: normal;
		font-weight: 400;
		line-height: 105%;
		letter-spacing: 2px;
		opacity: 1!important;
		@media (max-width: 1920px){
			max-width: 48.44vw;
			font-size: 5.21vw;
			letter-spacing: 0.10vw;
		}
		@media (max-width: 768px){
			line-height: 115%;
			max-width: 100%;
			font-size: 10vw;
			letter-spacing: 0.10vw;
		}
		span {
			display: block;
			&:first-child{
				display: flex;
				align-items: center;
				margin-bottom: 12px;
				@media (max-width: 1920px){
					margin-bottom: 0.63vw;
				}
				@media (max-width: 768px){
					margin-bottom: 1.58vw;
				}
			}
			img {
				display: inline-block;
				margin-left: 40px;
				width: 127px;
				height: 127px;
				@media (max-width: 1920px){
					margin-left: 2.08vw;
					width: 6.61vw;
					height: 6.61vw;
				}
				@media (max-width:768px){
					margin-left: 3.95vw;
					width: 16.84vw;
					height: 16.84vw;
				}
			}
		}
		&-outer {
			overflow: hidden;
			&:nth-child(1){
				.hero__title-inner {
					
					transition: all 1s ease 0.4s;
				}
			}
			&:nth-child(2){
				.hero__title-inner {
					transition: all 1s ease 0.5s;
				}
			}
		}
		&-inner {
			transform: translate(-5%, 200%) rotate(10deg);
		}
		&.el-shown {
			span {
				transform: translate(0, 0);
			}
		}

	}
	&__main-image {
		transition: all 1s ease 1.2s;
	}
	&__image {
		position: absolute;/* 
		transition: all 1s ease 1.2s; */
		@media (max-width: 768px){
			width: 100%;
		}
		@media (max-width: 768px){
			&-wrapper-mob {
				.container-inner {
					overflow: hidden;
					padding: 5.26vw 0;/* 
					display: flex;
					justify-content: center;
					align-items: center; */
					position: relative;
					min-height: 170vw;
					img.hero__image {
						right: 0;
						top: 20vw;
					}
				}
			}
		}

		&-parallax1 {
			width: 575px;
			top: 55px;
			right: -90px;
			@media (max-width: 1920px){
				width: 29.95vw;
				top: 2.86vw;
				right: -4.69vw;
			}
			@media (max-width: 768px){
				width: 100%;
			}
		}
		&-parallax2 {
			width: 550px;
			top: 55px;
			right: -90px;
			@media (max-width: 1920px){
				width: 28.65vw;
				top: 2.86vw;
				right: -4.69vw;
			}
			@media (max-width: 768px){
				width: 100%;
			}
		}
		&-parallax3 {
			width: 550px;
			top: 55px;
			right: -90px;
			@media (max-width: 1920px){
				width: 28.65vw;
				top: 2.86vw;
				right: -4.69vw;
			}
			@media (max-width: 768px){
				width: 100%;
			}
		}
		&-parallax4 {
			width: 540px;
			top: 25px;
			right: -90px;
			@media (max-width: 1920px){
				width: 28.13vw;
				top: 2.86vw;
				right: -4.69vw;
			}
			@media (max-width: 768px){
				width: 100%;
			}
		}
	}
	&__bottom {
		.container-inner {
			padding: 70px 110px;
			@media (max-width: 1920px){
				padding: 3.65vw 5.73vw;
			}
			@media (max-width: 768px){
				padding: 5.26vw 2.63vw;
			}
		}
	}
	&__text {
		margin-top: 10px;
		max-width: 800px;
		transition: all 1s ease 0.6s;
		@media (max-width: 1920px){
			max-width: 41.67vw;
			margin-top: 2.6vw;
		}
		@media (max-width: 768px){
			max-width: 100%;
			margin-top: 3vw;
		}
	}
	&__socials {
		position: fixed;
		z-index: 999;
		top: 50%;
		left: 70px;
		transform: translate(0%, -50%);
		@media (max-width: 1920px){
			left: 3.65vw;
		}
		@media (max-width: 768px){
			display: none;
		}
	}
}
