extends ../layouts/default

block vars
	-
		const page = {
			title: 'Главная'
		};

block main
	include ../blocks/hero
	include ../blocks/running-line
	include ../blocks/aivsman
	include ../blocks/running-line
	include ../blocks/colored-block
	include ../blocks/forum