/* media */
$media-list: (
	'xxs': 375,
	'xs': 560,
	'sm': 767,
	'md': 1079,
	'lg': 1279,
	'xl': 1599,
	'xxl': 1900
);

/* шрифты */
$mainFont: 'Roboto', sans-serif;

/* цвета */
$textMainColor: #52525A;
